<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hypocycloidcam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <hypocycloidcam.Properties.Settings>
            <setting name="TeethInCam" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RollerDiameter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PinBoltCircleDiameter" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Eccentricity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BoreDiameter" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="ToothPitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PressureAngleLimit" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OffsetInPressureAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputBearings" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OutputBearingsDia" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OutputPitchCircleDia" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="EccentricBearingInnerDia" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="EccentricBearingOuterDia" serializeAs="String">
                <value>19</value>
            </setting>
        </hypocycloidcam.Properties.Settings>
    </userSettings>
</configuration>
